<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-group row">
      <%= form.label :title, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_field :title, class: "form-control", placeholder: "Name of your article", autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :description, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_area :title, rows: 10, class: "form-control", placeholder: "Content of your article" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
    <%= link_to 'Cancel', articles_path, class: "col-xs-2 col-xs-offset-2" %>
  </form>
<% end %>