<%= form_with(model: @article, local: true) do |form| %>
  <%= render 'shared/errors', obj: @article %>
  <form>
    <div class="form-group row">
      <%= form.label :title, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_field :title, class: "form-control", placeholder: "Name of your article", autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :description, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_area :description, rows: 10, class: "form-control", placeholder: "Content of your article" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
    <%= link_to 'Cancel', articles_path, class: "col-xs-2 col-xs-offset-2" %>
  </form>
<% end %>